@use "./variables" as vars;

#projects {
    background-color: vars.$primary-colour;
    margin-top: 2rem;
}

.projects {
    margin-bottom: 2rem;
}

.project-cards {
    display: grid;
    grid-template-columns: auto auto auto;
}

.project-card  {
        width: 20rem;
        height: 20rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures full coverage */
    object-position: center; /* Centers the image properly */
}

.card-enlarge {
    transition: transform .5s, box-shadow .2s;
}

.card-margin-lg {
    background-color: vars.$primary-colour;
    margin: 4rem 0% 4rem 0%;
}




.img-zoom {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-enlarge:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px vars.$accent-colour;
}

.card-title {
    text-align: center;
    color: vars.$accent-colour;
}

.card-text {
    text-align: left;  
    margin: 25px;
    color: vars.$secondary-colour
}